.square {
    height: 5px;
    width: 5px;
    background-color: grey;
  }


.container {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 500px;
}

.row {
    display: flex;
}
.row > * {
    margin: 0px;
}