.square {
    height: 5px;
    width: 5px;
    background-color: grey;
  }


.container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-basis: calc(6.25% - 10px) */
}

/* .container > * {
    margin: 10px;
} */

.row {
    display: flex;
    /* margin: 0px; */
    /* flex-wrap: wrap; */
    /* flex-basis: calc(6.25% - 10px) */
}
.row > * {
    margin: 0px;
}